.gnav {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
  &__link {
    color: #1c23b8;
    margin-right: 10px;
    font-size: 14px;
    text-shadow: none;
  }
  &__btn {
    margin-left: auto;
    background: #1c23b8;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    text-shadow: none;
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}
